# exclude file endings of generated archives
*.pdf

# exclude all generated manufacturing archives
fab*

# no archives
archived

# no support
supporting

# exclude names of some graphics
modules/monerohw.pretty/HCPP*
